
.container_roulette {
    transform: scale(0.8);
  }
  .roulette {
    margin: 0 auto;
    width: 300px;
    height: 300px;
    background-color: gray;
    background-size: 300px 300px;
    background-image: url('http://triviacrackanswers.org/wp-content/uploads/2014/12/rrota.png');
    border-radius: 300px;
  }
  
  .spinner {
    cursor: pointer;
    color: white;
    font-weight: bold;
    border: none;
    position: absolute;
    width: 100px;
    height: 100px;
    top: 100px;
    left: 100px;
    border-radius: 100%;
    z-index: 1000;
    background-color: gray;
  }
  
  .spinner .pointer {
    position: absolute;
    width: 0; 
      height: 0; 
    top: -8px;
    left: 40px;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid gray;
  }

/*--------STYLE------*/

body{
    background-color: rgba(128, 128, 128, 0.77)
}

.justify{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.img_character{
  transform: scale(1.2);
}